<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../landingPage.css" rel="stylesheet">
    <link href="./../signup.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <title>Update your password</title>
</head>
<body>
    <div class="new-password-container reset-passwor">
        <h1>Please select a new, secure password</h1>
        <p>We recommend that you user a tool such as <a href="https://www.lastpass.com/password-generator">this one</a> to generate a secure, randomized password.</p>
        <div class="form-container">
            <form action="/update-account-info" method="POST">
                <label for="password">
                    <input type="password" name="password" required>
                    <span class="placeholder">New password</span>
                </label>
                <input type="hidden" value="<%= resetToken %>" name="resetToken">
                <div>
                    <button type="submit">Update your password</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>