<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <link href="./../landingPage.css" rel="stylesheet">
    <link href="./../signup.css" rel="stylesheet">
    <title>Reset your account</title>
</head>
<body>
    <div class="form-container reset-password">
        <div class="password-reset-info">
            <h1>Forget your password?</h1>
            <div>
                <p>We've all been there! Just enter the email address you used to sign up and we'll help you sort this out</p>    
            </div>
        </div>
        <% if (err) { %>
            <p class="error-msg"><%= err %> </p>
       <% } %> 

        <form action="/reset-password" method="POST">
                <label for="email">
                    <input type="text" name="email" required autocomplete="off">
                    <span class="placeholder">Email address</span>
                </label>
            <div>
                <button type="submit">Recover my account</button>
            </div>
        </form>    
    </div>

                <!-- * SCRIPTS * -->
                <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
                <script src="./../app.js"></script>
    
</body>
</html>