<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <link href="./../landingPage.css" rel="stylesheet">

    <link href="./../signup.css" rel="stylesheet">



    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Login</a>
    </nav>
    <div class="form-container">
        <form action="/signup" method="POST" id="registerNewAccount">
            <h1>Register for an account</h1>
            <% if (err) { %>
                <p class="error-msg"><%= err %> </p>
           <% } %> 

            <label for="username" id="usernameLabel">
                <input type="text" name="username" required autocomplete="off">
                <span class="placeholder">Username</span>
                </label>    
                <label for="email">
                    <input type="text" name="email" required autocomplete="off">
                    <span class="placeholder">Email address</span>
                </label>
                <label for="password">
                    <input id="originalPassword" type="password" name="password" required>
                    <span class="placeholder">Password</span>
                </label>    
                <label for="password-repeat">
                    <input id="passwordRepeat" type="password" name="password-repeat" required>
                    <span class="placeholder">Repeat password</span>
                </label>    
            <div>
                <button id="registerAccount" type="submit">Register</button>
            </div>
        </form>
    </div>

            <!-- * SCRIPTS * -->
            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <script src="./../app.js"></script>
    
</body>
</html>