
textarea, input { outline: none; }


.edit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
}

.edit-textbox {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    background-color: hsl(180, 5%, 80%);
    width: 70%;
    border-radius: 5px;
    padding: 0 !important;
}

