body {
  font: 16px 'Gilroy', sans-serif;
  position: relative; }
  body nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%; }
    body nav a {
      text-decoration: none;
      font-size: 1.5rem;
      float: right;
      margin: 1rem 2rem 0 0;
      font-weight: 600;
      border: 1px solid #D4D4D8;
      border-radius: 6px;
      padding: 0.6rem 2.8rem;
      background-color: #5813ec;
      font-family: 'Gilroy', sans-serif;
      color: white;
      transition: all 0.2s ease; }
      body nav a:hover {
        background-color: #9b71f4; }
  body .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    body .form-container form {
      margin-bottom: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      body .form-container form .error-msg {
        color: #7F1D1D;
        background-color: #FCA5A5;
        border-radius: 5px;
        border: 1px solid #7F1D1D;
        padding: 1.5rem 2rem; }
      body .form-container form h1 {
        font-size: 2.1rem;
        font-weight: 600; }
      body .form-container form label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 1rem;
        position: relative; }
        body .form-container form label .placeholder {
          color: black;
          font-size: 1rem;
          position: absolute;
          left: 14px;
          top: 50%;
          transform: translateY(-50%);
          width: auto;
          pointer-events: none;
          transition: all 0.1s ease-in-out; }
        body .form-container form label input {
          appearance: none;
          border: none;
          font-family: 'Poppins', sans-serif;
          padding: 14px;
          background-color: #F3F4F6;
          outline: none;
          border: 2px solid #A1A1AA;
          border-radius: 5px;
          font-size: 1rem;
          width: 20rem;
          transition: all 0.1s ease-in-out; }
          body .form-container form label input:focus {
            border-color: #27272A; }
          body .form-container form label input:focus + .placeholder, body .form-container form label input:valid + .placeholder {
            top: 0px;
            font-size: 0.85rem;
            background-color: #F3F4F6;
            padding: 0 3px;
            border-radius: 5px; }
      body .form-container form button {
        appearance: none;
        outline: none;
        border: 1px solid #D4D4D8;
        padding: 0.6rem 2.8rem;
        background-color: #5813ec;
        font-family: 'Gilroy', sans-serif;
        font-size: 0.9rem;
        margin-top: 2rem;
        color: white;
        transition: all .1s ease-in-out;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
        body .form-container form button:hover {
          background-color: #2a0972;
          color: white; }
      body .form-container form .reset a {
        color: #2a0972;
        font-weight: 500;
        transition: all ease .2s; }
        body .form-container form .reset a:hover {
          color: #5813ec;
          transform: scale(1.1); }
    body .form-container .password-reset-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      body .form-container .password-reset-info h1 {
        font-size: 2.5rem; }
  body .reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body .reset-password h1 {
      font-size: 2.5rem; }
    body .reset-password .bigger-font {
      font-size: 1.3rem; }
    body .reset-password a {
      color: #2a0972;
      font-weight: 500;
      transition: all ease .2s; }
      body .reset-password a:hover {
        color: #5813ec;
        transform: scale(1.1); }
  body .new-password-container h1 {
    text-align: center; }
