:root {
    --gradient-from: #ece9e6;
    --gradient-to: #ffffff;
    --stroke-color: #fee440;
    --ul-bg-main: #f4f5f5;
    --font-color-main: #202147;
    --font-color-secondary: black;
    --ul-shadow: #eee;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font: 16px 'Gilroy', sans-serif;
    background: #f4f5f5; /* fallback color */
    background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); 
    background: linear-gradient(to right, var(--gradient-from), var(--gradient-to)); 
    color: var(--font-color-main);
    position: relative;
    overflow: hidden !important;
}


.welcome {
    margin: 0;
    margin-top: 1.3rem;
    position: relative;
    font-size: 2.3rem;
    color: var(--font-color-main);
}

.welcome::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 30%;
    width: 100%;
    background-color: var(--stroke-color);
    z-index: -1;
}

.welcome-2 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.05rem;
    color: var(--font-color-main);

}

.time-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0;
    margin-bottom: .7rem;
}

.time-and-date > p {
    margin: 0;
    font-size: 1.1rem
}

ul {
    width: 40%;
    height: 55vh;
    box-shadow:
    0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px var(--ul-shadow),
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px var(--ul-shadow),
    0 -20px 1px -9px rgba(0,0,0,0.15);
    border-radius: 4px;
    background-color: var(--ul-bg-main);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 3rem;
    padding-top: 2rem;
    transition: all 0.1s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.205);
    overflow: auto;
    position: relative;
}

ul:hover {
    box-shadow:     
    0 -1px 1px rgba(0,0,0,0.15),
    0 -16px 0 -5px var(--ul-shadow),
    0 -16px 1px -4px rgba(0,0,0,0.15),
    0 -30px 0 -10px var(--ul-shadow),
    0 -30px 1px -9px rgba(0,0,0,0.15);
    transform: translateY(-2px);
}

ul > img {
    z-index: 2; 
    height: 30vh;
    width: 30vw;
    animation: fadeIn 0.3s;
}

ul > h1 {
    text-align: center;
    animation: fadeIn 0.3s;
}

.sorting-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem
}

.sorting-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem
}

.smaller-text {
    font-size: 0.85rem;
    margin: 0;
    margin-bottom: 2.3rem;
    text-decoration: none;
    color: var(--font-color-main);
    transition: 0.2s ease all ;
}

a.smaller-text:hover {
    transform: scale(1.07);
    text-decoration: underline;
}

p.smaller-text {
    font-weight: bold;
    color: var(--font-color-secondary);
}

.pagination-btns{
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: center;
    gap: 1rem;
    align-self: flex-end;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%)
}

.pagination-btns > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem
}

.pagination-btns > div > a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--font-color-main);
    transition: 0.2s ease all;
}

.pagination-btns > div > a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.todo-item-li {
    width: 100%;
    list-style: none;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.todo-item-container {
    display: grid;
    grid-template-columns: 10% 1fr 20%;
    gap: 1rem;
    border-bottom: 1px solid gray;
}

.todo-item-container > p {
    margin: 0;
    padding: 0.9rem;
    align-self: end;
    color: var(--font-color-secondary);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked {
    color: #00acea;
}

.new-todo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.new-todo-text {
    width: 25%;
    height: 60px;
    border-radius: 10px;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    padding-left: 4px;
    background-color: var(--ul-bg-main);
    border: 1px solid black !important;
    -webkit-box-shadow: 6px 6px 0px -2px #000000; 
    box-shadow: 6px 6px 0px -2px #000000;
    transition: all 0.1s ease;
    margin-left: 2rem;
    color: var(--font-color-secondary);
}

.new-todo-text:focus {
    outline: none !important;
    background-color: var(--ul-shadow);
    transform: scale(1.05)
}

.new-todo-icon {
    cursor: pointer;
}

img {
    width: 36%;
    height: 36%;
    z-index: -1;
}

#img1 {
    position: absolute;
    bottom: 0;
    left: -6rem;
}
#img2 {
    position: absolute;
    bottom: 0;
    right: -3rem;
}

a.disabled {
    pointer-events: none;
    color: #adb5bd !important;
    cursor: default;
}